body {
    position: relative;
}

.post {
    width: 80%;
    position: relative;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid gray;
}

.color0 {
    background-color: indianred;
}

.color1 {
    background-color: #a2d6ec;
}

.color2 {
    background-color: darkseagreen;
}